<div class="container-fluid">
  <h1 style="text-align: center; margin-top: 5px !important; margin-bottom: 10px !important">
    Welcome To {{ title }}!
  </h1>
  <table>
    <tr>
      <td style="width: 400px; height: 70%">
        <div *ngIf="lineChartLabels">
          <canvas id="lineChart"></canvas>
        </div>
        <div *ngIf="lineChartLabels.length==0">
          <p style="text-align: center;">Line chart is loading...</p>
        </div>
      </td>
      <td style="width: 500px; height: 50%">
        <div AgWordCloud [wordData]="wordData" [options]="options"></div>
        <!-- <div *ngIf="wordCloudChartData.length==0">
          <p style="text-align: center;">Word Cloud chart is loading...</p>
        </div> -->
      </td>
      <td style="width: 500px; height: 50%">
          <table id="tweetsTable" *ngIf="recentTweets.length"> 
              <tr><th>Top Twitters</th></tr>
              <tr *ngFor="let tweet of recentTweets"><td>{{tweet}}</td></tr>
            </table>
      </td>
    </tr>
    <hr>
    <tr>
      <td style="width: 400px; height: 70%">
        <div *ngIf="barChartLabels">
          <canvas id="barChart"></canvas>
        </div>
        <div *ngIf="barChartLabels.length==0">
          <p style="text-align: center;">Bar chart is loading...</p>
        </div>
      </td>
      <td style="width: 400px; height: 70%">
          <div *ngIf="doughnutChartLabels">
              <canvas id="doughnutChart"></canvas>
            </div>
            <div *ngIf="doughnutChartLabels.length==0">
              <p style="text-align: center;">Doughnut chart is loading...</p>
            </div>
      </td>
      <td style="width: 400px; height: 70%; vertical-align: top; border-top: 1px solid; border-left: 1px solid; padding-left: 5px;">
          <h2>Ask me question</h2>
          <form name="questionForm" (ngSubmit)="askQuestion()">
              <textarea name="answer" [(ngModel)]="answer" rows="4" style="width: 100%; margin-bottom: 10px" readonly></textarea>
              <input name="question" [(ngModel)]="question" type="text"style="width: 100%; margin-bottom: 10px" placeholder="Ask Question">
              <button name="submitButton" type="submit" class="btn btn-success" style="float:right">Submit</button>
          </form>
          
        
      </td>
    </tr>
  </table>
</div>