#tweetsTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tweetsTable td, #tweetsTable th {
    border: 1px solid #ddd;
    padding: 8px;
}


#tweetsTable tr:hover {background-color: #ddd;}

#tweetsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
    text-align: center;
}